node_modules
*.iml
.idea
*.log*
.nuxt
.eslintcache
.history
.reports
publish
.vscode/*
!.vscode/launch.json
.DS_Store
coverage
dist
test/.*
eslint-report.json
video
.env
src/supportedBrowserDetector.mjs
