node_modules
*.iml
.idea
.history
*.log*
.nuxt
.vscode/settings.json
!.vscode/launch.json
.DS_Store
.eslintcache
coverage
dist
.reports
test/.*
sw.*
.output
eslint-report.json
.env

# docs
docs/.vitepress/dist
docs/.vitepress/cache
