.*.swp
.*
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
npm-debug.log

*.iml
.idea
*.log*
.nuxt
.history
.reports
.vscode/*
!.vscode/launch.json
.DS_Store
coverage
.husky
*.code-workspace
jsconfig.json
vitest.config.js
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CHANGELOG.md
README.md
commitlint.config.js
renovate.json
vetur.config.json
sandbox.config.json
build.config.mjs
.output

/docs
/src
/playground
/test
