.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log

*.iml
.idea
*.log*
.nuxt
.history
.reports
publish
.vscode/*
!.vscode/launch.json
.DS_Store
coverage
dist
.husky
.*
*.code-workspace
jsconfig.json

/docs
/lib
/example
/test
