{
  "branches": [
    "+([0-9])?(.{+([0-9]),x}).x",
    "master",
    "next",
    "next-major",
    {
      "name": "main",
      "channel": "latest",
      "release": true
    },
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Project Changelog"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "./publish"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "CHANGELOG_PROJECT.md",
          "package.json",
          "package-lock.json",
          "npm-shrinkwrap.json"
        ]
      }
    ],
    [
      "@semantic-release/github"
    ]
  ]
}
