{
  "branches": [
    {
      "name": "main",
      "channel": "latest",
      "prerelease": false
    },
    {
      "name": "next",
      "channel": "next"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Project Changelog"
      }
    ],
    [
      "@semantic-release/npm"
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "CHANGELOG_PROJECT.md",
          "package.json",
          "package-lock.json",
          "npm-shrinkwrap.json"
        ]
      }
    ],
    [
      "@semantic-release/github"
    ]
  ]
}
