{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order"
  ],
  "customSyntax": "postcss-html",
  "ignoreFiles": [
    "./**/*.js"
  ],
  "rules": {
    "max-line-length": null,
    "no-descending-specificity": null,
    "value-keyword-case": [
      "lower",
      {
        "camelCaseSvgKeywords": true
      }
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "lost-vars",
          "em",
          "vw"
        ]
      }
    ]
  }
}