{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-lost"
  ],
  "customSyntax": "postcss-html",
  "ignoreFiles": [
    "./**/*.js"
  ],
  "rules": {
    "max-line-length": null
  }
}
